
body{

	margin: 0px;
	      background-color: #FDF6FD;
}


header{


	background-color: #F8E7F8;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 25px;

}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 5px;
}

header img{
	max-height: 350px;
	max-width: 350px;
	margin: 0px;
	border: 5px solid wheat;
	border-radius: 35px;
}
main {

max-width: 1200px;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
margin: 0px;
margin-bottom: 0px;
}

main p{

font-family: 'Roboto', sans-serif;
font-weight: 400;
padding-left: 70px;
padding-right: 70px;
text-align: right;
}

main img {

max-width: 100%;


}

main h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-align: right;

}
main h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	
}

footer{
	text-align: center;
    background-color: #FDF6FD;
    margin: 0px;
    padding-top: 15px;

}


main p{

padding-left: 70px;
padding-right: 70px;
}

main ol {
padding-left: 500px;
text-align: left;

}

main ul {
padding-left: 500px;
text-align: left;

}

.Joana{
	background-color: skyblue;
	width: 400px;
	padding: 30px;
	border: solid 10px blueviolet;
}

a:hover{
	background-color: darkorange;
	color: white;

}

